@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Order Details for @Model["vendor"].Name:</h3>
  <h3>Order Title: @Model["order"].OrderTitle</h3>
  <h3>Description: @Model["order"].Description</h3>
  <h3>Price: @Model["order"].Price.ToString("C")</h3>
  <h3>Date: @Model["order"].Date</h3>
  <a href='/vendors/@Model["vendor"].Id' class="badge badge-secondary">Return to vendor</a>
  <a href="/vendors" class="badge badge-secondary">Return to all vendors</a>
</div>